<app-navbar></app-navbar>
<div class="container">
  <app-add-log 
    class="addLog card" 
    [class.tiny]="!showAddLog"
    (selectStory)="getStory($event)"
    (callFakeLogs)="callGetFakeLogs($event)"
    [showAddLog]="showAddLog"
    [userIdofCurrent]="userIdofCurrent"
  ></app-add-log>
  <app-logs-container
   class="logs-container"
   [showAddLog]="showAddLog"
   [class.giant]="!showAddLog"
   [userIdofCurrent]="userIdofCurrent"
  ></app-logs-container>
</div>

<!-- <div 
 @easeInOut
*ngIf="formSuccesfullySubmited" class="alert" id="alert">
 {{alert}}
</div> -->
