<app-navbar></app-navbar>
<div class="container">
  <div class="addLog card">
    <div class="addLog-header card-header"> Add entry</div>
    <form #f="ngForm" (ngSubmit)="onSubmitAddLog(f)">
      <div id="inputsContainer">
        <div class="type">
          Type:
          <div class="checkboxThree">
            <input type="checkbox" ngModel name="personal" id="checkboxThreeInput"/>
            <label for="checkboxThreeInput">
            </label>
          </div>
        </div>
        <div class="date">
          <div>
            <label for="week">Week:</label>
            <input type="text" [ngModel] name="week" placeholder="{{today | week }}" maxlength="2">
          </div>
          <div>
            <label for="day">Day:</label>
            <input type="text" ngModel name="day">
          </div>
        </div>
      </div>
      <div class="textInput">
        <textarea type="text" ngModel name="text" required #text="ngModel"></textarea>
        <div class="fillAlert" *ngIf="!text.valid && text.touched">Please fill out text area with your lovely words.</div>
      </div>
      <div class="btn-div">
        <button type="submit" class="btn" [disabled]="!f.valid" 
         [class.disabled]="!f.valid">Submit</button>
      </div>
    </form>
  </div>
  <div class="card logs">
    <div class="logs-header card-header"> Your weekly logs</div>
    <div class="filterBtns">
      <button class="btn" (click)="getAllLogs()">All</button>
      <button class="btn" (click)="showWorkLogs()">Work</button>
      <button class="btn" (click)="showPersonalLogs()">Personal</button>
    </div>
    <div class="entriesCards">
      <div class="log"
       *ngFor="let log of logs; let i = index" 
       [ngClass]="getClass(log)"
       [class.expand]="this.logs[i].showText"
       (click)="expandCard(i, $event)">
        <!-- <div class="log-title" [ngClass]="getClass(log)">
          <p>{{log.type}}</p>
        </div> -->
        <h3>Week: {{log.week}}</h3>
        <h4>{{log.type}}</h4>
        <p>{{log.weekStart | date:'dd.MM'}} - {{log.weekEnd | date:'dd.MM'}}</p>
        <div class="entriesCount">
          <span>{{log.weekEntries}} week entry</span>
          <span>{{log.dayEntries}} daily entries</span>
        </div>
        <div *ngIf="log.showText" class="textWindow" >
          <div *ngIf="log.days" class="entries">
            <button 
            *ngIf="log.text" 
            class="btn entryBtn"
            id="yo"
            [class.active]="null == this.current"
            (click)="this.current = null"
            >
              Week {{log.week}}
            </button>
            <button 
            *ngFor="let day of log.days; index as j"
            class="btn entryBtn"
            [class.active]="j == this.current"
            (click)="log.text = day.text; this.current = j"
            >
              {{day.day}}
            </button>
          </div>
          <div class="text unique" id="unique" @expandCard>
            {{log.text}}
          </div>
          <div class="buttonDelete">
            <button type="button" class="btn  btn-delete" id="deleteBtn" (click)="initDelete(i, log._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div *ngIf="showConfirmDelete" class="confirm-delete">
    <div class="confirmPopup">
      <div class="text">
        Do you really want to delete this log?
      </div>
      <button type="button" class="btn btn-delete" (click)="deleteLog(i, id)">DELETE</button>
      <button type="button" class="btn btn-cancel" (click)="this.showConfirmDelete = false">CANCEL</button>
    </div>
  </div>
</div>

<div 
 @easeInOut
*ngIf="formSuccesfullySubmited" class="alert" id="alert">
 {{alert}}
</div>

<!-- <div id="aboutThis">
   <span>📜</span>
 About this project
</div> -->