<!-- <app-navbar></app-navbar> -->
<div class="container">
  <div class="addLog card"  [class.tiny]="!showAddLog">
    <div class="addLog-header card-header" (click)="showAddLog = !showAddLog"> Add entry</div>
<!--     <form *ngIf="showAddLog" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <input formControlName="name" placeholder="Your name">
      <input formControlName="email" placeholder="Your email">
      <input formControlName="message" placeholder="Your message">
    
      <button type="submit">Send</button>
    </form> -->
    <form *ngIf="showAddLog" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div id="inputsContainer">
        <div class="type">
          Type:
          <div class="checkboxThree">
            <input type="checkbox" formControlName="type"id="checkboxThreeInput"/>
            <label for="checkboxThreeInput">
            </label>
          </div>
        </div>
        <div class="date">
          <div>
            <label for="week">Week:</label>
            <input type="text" formControlName="week" placeholder="{{today | week }}">
              <div class="maxValue-alert" *ngIf="myForm.get('week').hasError('max')">
                There are only 52 weeks in a year.
              </div>
          </div>
          <div>
            <label for="day">Day:</label>
            <input type="text" formControlName="day">
          </div>
        </div>
      </div>
      <div class="textInput">
        <textarea type="text"  formControlName="text" [(ngModel)]=addLog.text></textarea>
        <div class="fillAlert" *ngIf="myForm.get('text').hasError('required') && myForm.get('text').touched">Please fill out text area with your lovely words.</div>
      </div>
      <div class="btn-div">
        <button type="submit" class="btn" [disabled]="!myForm.valid" [class.disabled]="!myForm.valid">Submit</button>
      </div>
    </form>
    <!-- <form *ngIf="showAddLog" #f="ngForm" (ngSubmit)="onSubmitAddLog(f)" @expandCard>
      <div id="inputsContainer">
        <div class="type">
          Type:
          <div class="checkboxThree">
            <input type="checkbox" ngModel name="personal" id="checkboxThreeInput"/>
            <label for="checkboxThreeInput">
            </label>
          </div>
        </div>
        <div class="date">
          <div>
            <label for="week">Week:</label>
            <input type="text" [ngModel] name="week" placeholder="{{today | week }}" maxlength="2">
          </div>
          <div>
            <label for="day">Day:</label>
            <input type="text" ngModel name="day">
          </div>
        </div>
      </div>
      <div class="textInput">
        <textarea type="text" [(ngModel)]="addLog.text" name="text" required #text="ngModel"></textarea>
        <div class="fillAlert" *ngIf="!text.valid && text.touched">Please fill out text area with your lovely words.</div>
      </div>
      <div class="btn-div">
        <button type="submit" class="btn" [disabled]="!f.valid" 
         [class.disabled]="!f.valid">Submit</button>
      </div>
    </form> -->
  </div>
  <div class="card logs" [class.giant]="!showAddLog">
    <div class="logs-header card-header"> Your weekly logs</div>
    <div class="filterBtns">
      <button class="btn" [class.active]="this.currentShowbtn == 0" (click)="getAllLogs();">All</button>
      <button class="btn" [class.active]="this.currentShowbtn == 1" (click)="showWorkLogs()">Work</button>
      <button class="btn" [class.active]="this.currentShowbtn == 2" (click)="showPersonalLogs()">Personal</button>
    </div>
    <div class="entriesCards">
      <div class="log"
       *ngFor="let log of logs; let i = index" 
       [ngClass]="getClass(log)"
       [class.expand]="this.logs[i].showText"
       (click)="expandCard(i, $event)">
        <!-- <div class="log-title" [ngClass]="getClass(log)">
          <p>{{log.type}}</p>
        </div> -->
        <h3>Week: {{log.week}}</h3>
        <h4>{{log.type}}</h4>
        <p>{{log.weekStart | date:'dd.MM'}} - {{log.weekEnd | date:'dd.MM'}}</p>
        <div class="entriesCount">
          <span>{{log.weekEntries}} week entry</span>
          <span>{{log.dayEntries}} daily entries</span>
        </div>
        <div *ngIf="log.showText" class="textWindow" >
          <div *ngIf="log.days" class="entries">
            <div class="weeks-btns">
              <button 
              *ngFor="let text of log.text; index as k"
              class="btn entryBtn"
              id="yo"
               [ngClass]="getActiveClass(k, 'k')"
              (click)="log.textToshow = text.text; this.current.number = k; this.current.index = 'k'"
              >
                Entry {{[k + 1]}}.
              </button>
            </div>
            <div class="days-btns">
              <button 
              *ngFor="let day of log.days; index as j"
              class="btn entryBtn"
               [ngClass]="getActiveClass(j, 'j', log.text)"
              (click)="log.textToshow = day.text; this.current.number = j; this.current.index = 'j'"
              >
                {{day.day}}
              </button>
            </div>
          </div>
          <div class="text unique" id="unique" @expandCard [attr.data-index]="i">
           {{log.textToshow}}
          </div>
          <div class="buttonDelete">
            <button type="button" class="btn  btn-delete" id="deleteBtn" (click)="initDelete(i, log._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div *ngIf="showConfirmDelete" class="confirm-delete">
    <div class="confirmPopup">
      <div class="text">
        Do you really want to delete this log?
      </div>
      <button type="button" class="btn btn-delete" (click)="deleteLog(i, id)">DELETE</button>
      <button type="button" class="btn btn-cancel" (click)="this.showConfirmDelete = false">CANCEL</button>
    </div>
  </div>
</div>

<div 
 @easeInOut
*ngIf="formSuccesfullySubmited" class="alert" id="alert">
 {{alert}}
</div>

<!-- <div id="aboutThis">
   <span>📜</span>
 About this project
</div> -->