.container
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-column-gap: 2.5rem
  padding: 0 3rem
.card
  box-shadow: 0px 2px 8px 0px rgba(162, 161, 161, 0.42)
  min-width: 12rem
  .card-header
    width: calc(100% + 3.5rem)
    background: linear-gradient(#2F9173, #3f9c80)
    box-shadow: 0px 2px 8px 0px rgba(162, 161, 161, 0.42)
    margin: -1rem -1.75rem
    padding: 1.2rem 1.35rem
    border-radius: 3px 3px 0 0
    color: #fff
    font-size: 1.25rem
    font-weight: lighter
  .addLog-header:hover
    cursor: pointer
    transition: all 0.2s ease-in-out
    background: linear-gradient(#2b8368, #35876e)
  .filterBtns
    margin: 2.5rem 0 2rem 0
    text-align: center 
.btn
  border: none
  background: #67B29B
  font-weight: bold
  padding: .75rem 2rem
  border-radius: 3px
  border-bottom: 2px solid #549B85   
  text-transform: uppercase
  color: #fff
  box-shadow: 0 2px 8px 0px rgba(21, 20, 20, 0.17)
  &:hover
    cursor: pointer
    border-bottom: 2px solid transparent
    background: #49987c
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08)  
    transition: all .2s ease
  &.disabled
    cursor: not-allowed 
    background: #bfd8d0
    border-bottom: 2px solid #CEE3DC
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08)
  &:focus
    outline: none
.btn-delete
  background: #d74d4d
  border-bottom: 2px solid #bd4747
  &:hover
    background: #cb2929
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08)  
    transition: all .2s ease  
.btn-cancel
  background: #94a6a1
  border-bottom: 2px solid #8a9793
  &:hover
    background: #848b89
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08)  
    transition: all .2s ease
.addLog
  padding: 1rem 1.75rem
  grid-column: span 2
  grid-row: span 1
  background: #F0F0F0
  border-radius: 3px
  margin: 2rem auto
  form
    color: var(--black)
    margin-top: 2rem
    #inputsContainer
      width: 95%
      margin: 0 auto
      .type
        display: inline-flex
        justify-content: space-between
        width: 15rem
        align-items: center
        margin-bottom: 2rem
      .date
        display: inline-flex
        justify-content: space-between
        width: 100%
        margin-bottom: 1rem
        .maxValue-alert
          font-size: 0.8rem
          position: absolute
          margin-top: -0.4rem
        div
          label
            margin-right: 1rem
          input
            padding: 0.5rem 0.5rem
            border: none
            width: 4rem
            text-align: center
            font-weight: 700
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03)
            border-radius: 2px 
            font-family: Open Sans
            color: var(--black)
            &:focus
              outline: none
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) 
        &>:nth-child(2)
          input    
            width: 10rem
      p
        display: flex;
        justify-content: space-evenly;  
      input
        margin-bottom: 1rem
    .textInput
      display: flex
      flex-flow: column
      textarea
        width: 95%
        min-height: 15rem
        padding: 0.5rem 0.75rem
        line-height: 170%
        font-family: "Open Sans"
        margin: 0 auto 2rem auto
        border-radius: 2px
        border: none
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10) 
        &:focus
          width: 97%
          outline: none
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10)
          min-height: 15.2rem
          transition: all .4s ease
      .fillAlert
        text-align: center
        font-size: 0.9rem
        color: #e95252
        font-weight: 600
        margin-bottom: 2rem
    .btn-div
      display: flex
      justify-content: flex-end
.tiny
  grid-column: span 1
  .card-header
    text-align: center         
.logs
  display: flex
  flex-flow: column
  grid-column: span 4
  grid-row: span 2
  max-width: 65rem
  padding: 1rem 1.75rem
  background: #F0F0F0
  border-radius: 3px
  margin: 2rem auto
  .btn.active
    background: #065c3d
    border-bottom: transparent
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.53)
  .entriesCards
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    .log
      position: relative
      padding: 1.5rem 1.5rem 2.3rem
      background: #31AB85
      margin: 0 0.75rem 3rem 0.75rem
      width: 15rem
      border-radius: 3px
      box-shadow: 0 2px 8px 0 rgba(128, 128, 128, 0.31)
      font-weight: 300
      transition: width .5s ease
      &:hover
        cursor: pointer
      h3
        font-size: 1.35rem
        margin-bottom: 0.75rem
        font-weight: 500
      h4
        position: absolute
        top: 1.5rem  
        right: 1.5rem
        font-weight: 500
        text-transform: uppercase
        width: 1rem
        overflow: hidden
        letter-spacing: 8px
      p
        font-size: 0.9rem
        margin-top: 0.9rem  
      .entriesCount
        margin-top: 2.3rem
        font-size: 0.9rem
        display: inline-flex
        justify-content: space-between
        width: 100%
      .entries
        width: 100%
        margin-top: 0.5rem
        .btn
          margin-right: 0.5rem
          margin-top: 0.5rem
          padding: .75rem 1rem
          text-transform: none
        .active
          background: #065c3d
          border-bottom: transparent
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.53)
      .log-title
        display: flex
        justify-content: space-between
        margin-bottom: 1rem
        margin: -1rem -1rem 1rem -1rem
        background: #9f2424
        color: white
        padding: 1rem
      .text
        white-space: pre-line
        line-height: 140%;
        font-style: italic
        font-family: Roboto
      #deleteBtn
        width: max-content
        float: right
    .expand
      width: 33rem
      transition: width .5s ease
      .textWindow
        border-top: 1px solid #98e1be
        margin-top: 1rem
        display: flex
        flex-flow: column
        .text
          margin-bottom: 2rem  
.personal
  background: #44b98c !important
.work
  background: #267e5e !important

.confirm-delete
  position: fixed
  background: rgba(0, 0, 0, 0.5)
  width: 100%
  top: 0
  height: 100vh
  color: white
  text-align: center
  padding: 5rem 0
  font-weight: bold
  z-index: 1
  .confirmPopup
    background: white
    padding: 5rem
    color: var(--black)
    width: max-content
    margin: 0 auto
    border-radius: 3px
    box-shadow: 0 2px 13px 4px rgba(0, 0, 0, 0.23)
    .text
      margin-bottom: 3rem
      



.checkboxThree
  width: 180px
  height: 40px
  background: linear-gradient(#2f9173, #3e9b7f)
  border-radius: 10px
  position: relative
  &:before
    content: 'Personal'
    position: absolute
    top: 12px
    left: 13px
    height: 2px
    font-size: 16px
    color: #26cab1
  &:after
    content: 'Work'
    position: absolute
    top: 12px
    left: 113px
    height: 2px
    color: white
    font-size: 16px
  label
    display: block
    width: 80px
    height: 22px
    border-radius: 5px
    transition: all .5s ease
    cursor: pointer
    position: absolute
    top: 9px
    z-index: 1
    left: 12px
    background: #fff
    box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.18)
  input[type=checkbox]:checked + label
    left: 87px
    background: #26cab1

input[type=checkbox]
  visibility: hidden   

.alert
  position: fixed;
  background: rgba(55, 151, 122, 0.95);
  right: 0;
  bottom: 3rem;
  padding: 1.5rem 1.5rem;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.49);
#aboutThis
  background: #f0f0f0
  position: fixed
  left: 1rem
  bottom: 1rem
  padding: 1rem 1.5rem
  color: var(--black)
  font-weight: bold
  span
    width: 100%
    display: block
    font-size: 2rem
    text-align: center
    margin-bottom: 1rem
@media only screen and (min-width: 500px) and (max-width: 1000px)
  .container
    padding: 0 1rem
    grid-gap: 1rem
    .card.logs
      grid-column: span 3
      padding: 1rem 0
      .logs-header
        width: 100%
        margin-left: 0rem
      .log
        width: 46%
        padding: 2rem 1.25rem
        margin: 0 0.3rem 3rem 0.3rem
      .giant
        grid-column: span 6   
      .expand
        width: 100% !important
    .addLog
      grid-column: span 3
    .tiny
      grid-column: span 1      

@media only screen and (max-width: 720px)
  .container
    padding: 0 0.5rem
    .addLog
      #inputsContainer
        .type
          width: 90%
        .date
          input
            margin-top: 0.5rem
    .tiny
      grid-column: span 1                
    .card.logs
      grid-column: span 6
      padding: 1rem 0
      .logs-header
        width: 100%
        margin-left: 0rem
      .log
        width: 46%
        padding: 1.75rem 1.25rem
        margin: 0 0.3rem 3rem 0.3rem
        .entriesCount
          display: flex
          flex-flow: column
          margin-top: 1.8rem
          text-align: right
          font-size: 0.85rem
          span:first-child
            margin-bottom: .5rem
        h4
          top: 2rem
          right: 1rem
      .giant
        grid-column: span 6         
      .expand
        width: 100% !important
    .addLog
      grid-column: span 6
  .confirm-delete
    .confirmPopup
      padding: 4rem 2.5rem   