  <div class="addLog-header card-header" (click)="onSelectStory()" id="addLog"> Add entry</div>
  <form *ngIf="showAddLog" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div id="inputsContainer" >
      <div class="type">
        Type:
        <div class="checkboxThree">
          <input type="checkbox" formControlName="type" id="checkboxThreeInput" />
          <label for="checkboxThreeInput">
          </label>
        </div>
      </div>
      <div class="date">
        <div>
          <label for="week">Week:</label>
          <input type="text" formControlName="week" placeholder="{{today | week }}">
          <div class="maxValue-alert" *ngIf="myForm.get('week').hasError('max')">
            There are only 52 weeks in a year.
          </div>
        </div>
        <div>
          <label for="day">Day:</label>
          <input type="text" formControlName="day" [(ngModel)]=addLog.day>
        </div>
      </div>
    </div>
    <div class="textInput">
      <textarea type="text" formControlName="text" [(ngModel)]=addLog.text id="text"></textarea>
      <div class="fillAlert" *ngIf="myForm.get('text').hasError('required') && myForm.get('text').touched">Please fill out text area with your lovely words.</div>
    </div>
    <div class="btn-div">
      <button type="submit" class="btn submit-btn" [disabled]="!myForm.valid" [class.disabled]="!myForm.valid">Submit</button>
      <button type="button" class="btn" (click)="increment()">SubmitFake</button>
      <p>Counter : {{counter | async}}</p>
    </div>
  </form>